<launch>
 	<group ns="fmDecisionMakers">
		<node pkg="fmDecisionMakers" name="mission_control" type="MISSION_CONTROL" output="screen">
			<param name="Heading_Pub_Top" value="/fmDecisionMakers/Heading" /> 
			<param name="update" value="10" /> 
			<param name="Map_Sub_Top" value="/fmExtractors/map" /> 
			<param name="P_Filter_Sub_Top" value="/fmExtractors/vehicle_position" /> 
			

			<param name="Length_of_rows" value="3" /> 
			<param name="Width_of_rows" value="0.75" /> 
			<param name="No_of_rows" value="3" /> 
			<param name="Map_offset_x" value="10" /> 
			<param name="Map_offset_y" value="10" /> 
			<param name="Point_proximity_treshold" value="0.05" /> 
			<param name="Width_of_pots" value="0.15" /> 
			<param name="row_exit_length" value="0.5" /> 
			<param name="End_row_limit" value="0.2" /> 
			<param name="start_turn_direction" value="0" /> 
		</node>
	</group>
</launch>

