<launch>
	<group ns="fmExtractors">
		<node pkg="fmExtractors" name="odometry_position_extractor" type="odometry_position_node">
		</node>

		<node pkg="fmExtractors" name="lidar_inrow_vehicle_detector" type="lidar_inrow_vehicle_detector" output="screen" >
			<param name="lidar_sub_topic" value="/fmSensors/lidar_scan_data" />
			<param name="visualization_marker_pub_topic" value="/fmExtractors/viz_marker_particle" />
			<param name="point_cloud_pub_topic" value="/fmExtractors/point_cloud" />
			<param name="position_sub_topic" value="/fmExtractors/vehicle_coordinate" />
			<param name="vehicle_position_pub_topic" value="/fmExtractors/vehicle_position" />
			<param name="map_pub_topic" value="/fmExtractors/map" />
		
			<param name="particles" value="7500" />
			<param name="offset_x" value="11.5" />
			<param name="length_x" value="6" />
			<param name="offset_y" value="11.5" />
			<param name="length_y" value="5" />
			<param name="max_ang" value="6.28" />

			<param name="measurement_noise" value="0.35" />
			<param name="movement_noise" value="0.05" />
			<param name="turning_noise" value="0.05" />
			
			<param name="map_size_x" value="20" />
			<param name="map_size_y" value="20" />
			<param name="map_resolution" value="0.025" />
			<param name="row_width" value="0.2" />
			<param name="row_length" value="3" />
			<param name="no_of_rows" value="4" />
			<param name="row_spacing" value="0.75" />
			<param name="start_x" value="10" />
			<param name="start_y" value="10" />
		</node>

	
	</group>


	<group ns="fmDecisionMakers">
		<node pkg="fmDecisionMakers" name="mission_control" type="MISSION_CONTROL">
			<param name="Heading_Pub_Top" value="/fmDecisionMakers/Heading" /> 
			<param name="update" value="10" /> 
			<param name="Map_Sub_Top" value="/fmExtractors/map" /> 
			<param name="P_Filter_Sub_Top" value="/fmExtractors/vehicle_position" /> 

			<param name="Length_of_rows" value="3" /> 
			<param name="Width_of_rows" value="0.75" /> 
			<param name="No_of_rows" value="4" /> 
			<param name="Map_offset_x" value="10" /> 
			<param name="Map_offset_y" value="10" /> 
			<param name="Point_proximity_treshold" value="0.30" /> 
			<param name="Width_of_pots" value="0.20" /> 
			<param name="row_exit_length" value="0.5" /> 
			<param name="End_row_limit" value="0.0" /> 
			<param name="start_turn_direction" value="0" /> 
		</node>
	</group>

	<group ns="fmExecutors">
	</group>


 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<node pkg="tf" type="static_transform_publisher" name="laser_scan_tf" args="0 0 0 3.14 0 0 /base_link /lidar_scan 100" />
	<node pkg="tf" type="static_transform_publisher" name="center_map_tf" args="12 12 0 0 0 0 /map /map_center 100" />
</launch>

