<launch>

	<group ns="fmSensors">
		<node pkg="fmSensors" name="Encoder1" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder1" />
			<param name="update_frequency" value="20" />		 
		</node>
		<node pkg="fmSensors" name="Encoder2" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder2" /> 
			<param name="update_frequency" value="20" />
		</node>
		<node pkg="fmSensors" name="Odometry" type="corobot_wheel_feedback_node" output="screen" >
			<param name="left_odo_pub_topic" value="left_odometry" /> 
			<param name="right_odo_pub_topic" value="right_odometry" /> 
			<param name="encoder1" value="/fmSensors/encoder1" /> 
			<param name="encoder2" value="/fmSensors/encoder2" /> 
		</node>
		<node pkg="fmSensors" name="Lidar" type="neato_lidar_node" output="screen" >
			<param name="port" value="/dev/ttyUSB1" /> 
			<param name="baud_rate" value="115200" /> 
			<param name="frame_id" value="base_link" /> 
			<param name="firmware_version" value="2" /> 
			<param name="lidar_publisher_topic" value="lidar_scan_data" /> 
		</node>
		<node pkg="fmSensors" name="IMU" type="sparkfun_razor_node" output="screen">
			<param name="sub_serial_string_topic_id" value="/fmCSP/ypr_serial" />
			<param name="pub_accelerometer_topic_id" value="/fmSensors/Accelerometer" />
			<param name="pub_gyroscope_topic_id" value="/fmSensors/Gyroscope" />
			<param name="pub_magnetometer_topic_id" value="/fmSensors/Magnetometer" />
		</node>
	</group>

	<group ns="fmExtractors">
		<node pkg="fmExtractors" name="odometry_position_extractor" type="odometry_position_node">
		</node>

		<node pkg="fmExtractors" name="lidar_inrow_vehicle_detector" type="lidar_inrow_vehicle_detector" output="screen">
			<param name="lidar_sub_topic" value="/fmSensors/lidar_scan_data" />
			<param name="visualization_marker_pub_topic" value="/fmExtractors/viz_marker_particle" />
			<param name="point_cloud_pub_topic" value="/fmExtractors/point_cloud" />
			<param name="position_sub_topic" value="/fmExtractors/vehicle_coordinate" />
			<param name="vehicle_position_pub_topic" value="/fmExtractors/vehicle_position" />
			<param name="map_pub_topic" value="/fmExtractors/map" />
			<param name="particles" value="100" />
			<param name="offset_x" value="10.6" />
			<param name="length_x" value="0.5" />
			<param name="offset_y" value="10.3" />
			<param name="length_y" value="0.5" />
			<param name="max_ang" value="0.8" />
			<param name="measurement_noise" value="0.07" />
			<param name="movement_noise" value="0.03" />
			<param name="turning_noise" value="0.05" />
			
			<param name="map_size_x" value="20" />
			<param name="map_size_y" value="20" />
			<param name="map_resolution" value="0.025" />
			<param name="row_width" value="0.15" />
			<param name="row_length" value="3" />
			<param name="no_of_rows" value="3" />
			<param name="row_spacing" value="0.75" />
			<param name="start_x" value="10" />
			<param name="start_y" value="10" />
		</node>

		<node pkg="fmExtractors" name="lidar_navigation" type="lidar_navigator" output="screen">
			<param name="lidar_sub_topic" value="/fmSensors/lidar_scan_data" />
			<param name="visualization_marker_pub_topic" value="/fmExtractors/viz_marker_navigator" />
			<param name="velocity_pub_topic" value="/speed_from_joystick" />
			<param name="vehicle_coordinate" value="/fmExtractors/vehicle_coordinate" />
			<param name="heading_sub_topic" value="/fmDecisionMakers/Heading" />
			
			<param name="navigation_range" value="0.75" />
			<param name="safety_range" value="0.25" />
			<param name="minimum_range" value="0.12" />
			<param name="desired_heading" value="0.0" />
			<param name="maximum_angular_velocity" value="3" />
			<param name="maximum_velocity" value="0.6" />
			<param name="minimum_clearance" value="0.40" />
			<param name="minimum_clearance_angle" value="60" /> 
			<param name="p_angular_velocity" value="5" />
			<param name="i_angular_velocity" value="0.0" />
			<param name="d_angular_velocity" value="0.0" />
			<param name="laser_inverted" value="0" />
			
		</node>
	</group>

	<group ns="fmTools">
	</group>


	<group ns="fmProcessors">
		<node pkg="fmProcessors" name="Gyro_Odo_Fusion" type="Gyro_Odo_Fusion_Kalman_node.py">
		</node>	
	</group>

	<group ns="fmHMI">
		<node pkg="fmHMI" name="joystick_speed" type="joystick_speed">	 
		<param name="linear_velocity" value="0.5" />
		<param name="angular_velocity" value="0.5" />
		</node>

		<node pkg="fmHMI" name="joy_node" type="joy_node" >
		</node>
	</group>

 	<group ns="fmDecisionMakers">
		<node pkg="fmDecisionMakers" name="mission_control" type="MISSION_CONTROL" output="screen">
			<param name="Heading_Pub_Top" value="/fmDecisionMakers/Heading" /> 
			<param name="update" value="10" /> 
			<param name="Map_Sub_Top" value="/fmExtractors/map" /> 
			<param name="P_Filter_Sub_Top" value="/fmExtractors/vehicle_position" /> 

			<param name="Length_of_rows" value="3" /> 
			<param name="Width_of_rows" value="0.75" /> 
			<param name="No_of_rows" value="3" /> 
			<param name="Map_offset_x" value="10" /> 
			<param name="Map_offset_y" value="10" /> 
			<param name="Point_proximity_treshold" value="0.05" /> 
			<param name="Width_of_pots" value="0.15" /> 
			<param name="row_exit_length" value="0.5" /> 
			<param name="End_row_limit" value="0.2" /> 
			<param name="start_turn_direction" value="0" /> 
		</node>
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
		<node pkg="fmControllers" name="motor_controller" type="motor_controller_node" >
			<param name="left_odo_subscriber_topic" value="/fmSensors/left_odometry" /> 
			<param name="right_odo_subscriber_topic" value="/fmSensors/right_odometry" /> 
			<param name="desired_speed_subscriber_topic" value="/speed_from_joystick" /> 
			<param name="motor_power_topic" value="/fmControllers/motor_power" /> 
			<param name="maximum_speed" value="0.7" /> 
			<param name="maximum_acceleration" value="0" /> 
			<param name="maximum_deacceleration" value="0" /> 
			<param name="p_left" value="1" /> 
			<param name="i_left" value="0.3" />
			<param name="d_left" value="0.5" /> 
			<param name="p_right" value="1" /> 
			<param name="i_right" value="0.3" /> 
			<param name="d_right" value="0.5" /> 
		</node>
	</group>

 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<group ns="fmCSP">
		<node pkg="fmCSP" name="MotorController" type="pololu_motor_controller_node" output="screen" >
			<param name="serial_publisher_topic" value="/fmCSP/target_velocity" /> 
			<param name="desired_speed_subscriber_topic" value="/fmControllers/motor_power" />
		</node>
		<node pkg="fmCSP" name="MotorControllerSerial" type="serial_string" output="screen" >
			<param name="device" value="/dev/ttyACM0" /> 
			<param name="baudrate" value="115200" />
			<param name="subscriber_topic" value="/fmCSP/target_velocity" /> 
		</node>
		<node pkg="fmCSP" name="IMUSerial" type="serial_string" output="screen" >	 
			<param name="device" value="/dev/ttyUSB0" />	
			<param name="baudrate" value="57600" />
			<param name="publisher_topic" value="ypr_serial"/>
		</node>
	</group>
</launch>

