<launch>

	<group ns="fmSensors">

	</group>

	<group ns="fmExtractors">
		<node pkg="fmExtractors" name="odometry_position_extractor" type="odometry_position_node">
		</node>
	</group>

	<group ns="fmTools">
	</group>


	<group ns="fmProcessors">
		<node pkg="fmProcessors" name="Gyro_Odo_Fusion" type="Gyro_Odo_Fusion_Kalman_node.py" output="screen">
		</node>	
	</group>

	<group ns="fmHMI">

	</group>

 	<group ns="fmDecisionMakers">
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">

	
	</group>

 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<group ns="fmCSP">
	</group>
	<node pkg="tf" type="static_transform_publisher" name="laser_scan_tf" args="0 0 0 0 0 0 /base_link /lidar_scan 100" />

</launch>

