<launch>

	<group ns="fmSensors">
		<node pkg="fmSensors" name="Encoder1" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder1" />
			<param name="update_frequency" value="50" />		 
		</node>
		<node pkg="fmSensors" name="Encoder2" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder2" /> 
			<param name="update_frequency" value="50" />
		</node>
		<node pkg="fmSensors" name="Odometry" type="corobot_wheel_feedback_node" output="screen" >
			<param name="left_odo_pub_topic" value="left_odometry" /> 
			<param name="right_odo_pub_topic" value="right_odometry" /> 
			<param name="encoder1" value="/fmSensors/encoder1" /> 
			<param name="encoder2" value="/fmSensors/encoder2" /> 
		</node>
		<node pkg="fmSensors" name="Lidar" type="neato_lidar_node" output="screen" >
			<param name="port" value="/dev/ttyUSB1" /> 
			<param name="baud_rate" value="115200" /> 
			<param name="frame_id" value="neato_lidar" /> 
			<param name="firmware_version" value="2" /> 
			<param name="lidar_publisher_topic" value="lidar_scan_data" /> 
		</node>
		<node pkg="fmSensors" name="IMU" type="sparkfun_razor_node" output="screen">
			<param name="sub_serial_string_topic_id" value="/fmCSP/ypr_serial" />
			<param name="pub_accelerometer_topic_id" value="/fmSensors/Accelerometer" />
			<param name="pub_gyroscope_topic_id" value="/fmSensors/Gyroscope" />
			<param name="pub_magnetometer_topic_id" value="/fmSensors/Magnetometer" />
		</node>
	</group>

	<group ns="fmExtractors">
		<node pkg="fmExtractors" name="odometry_position_extractor" type="odometry_position_node" >
		</node>
	</group>


	<group ns="fmProcessors">
	</group>

	<group ns="fmHMI">
		<node pkg="fmHMI" name="joystick_speed" type="joystick_speed" output="screen" >	 
		</node>

		<node pkg="fmHMI" name="joy_node" type="joy_node" output="screen" >
		</node>
	</group>

 	<group ns="fmDecisionMakers">
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
		<node pkg="fmControllers" name="motor_controller" type="motor_controller_node" output="screen" >
			<param name="left_odo_subscriber_topic" value="/fmSensors/left_odometry" /> 
			<param name="right_odo_subscriber_topic" value="/fmSensors/right_odometry" /> 
			<param name="desired_speed_subscriber_topic" value="/speed_from_joystick" /> 
			<param name="motor_power_topic" value="/fmControllers/motor_power" /> 
			<param name="maximum_speed" value="0.7" /> 
			<param name="maximum_acceleration" value="3" /> 
			<param name="maximum_deacceleration" value="0" /> 
			<param name="p_left" value="0" /> 
			<param name="i_left" value="1" />
			<param name="d_left" value="0" /> 
			<param name="p_right" value="0" /> 
			<param name="i_right" value="1" /> 
			<param name="d_right" value="0" /> 
		</node>
	</group>

 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<group ns="fmCSP">
		<node pkg="fmCSP" name="MotorController" type="pololu_motor_controller_node" output="screen" >
			<param name="serial_publisher_topic" value="/fmCSP/target_velocity" /> 
			<param name="desired_speed_subscriber_topic" value="/fmControllers/motor_power" />
		</node>
		<node pkg="fmCSP" name="MotorControllerSerial" type="serial_string" output="screen" >
			<param name="device" value="/dev/ttyACM0" /> 
			<param name="baudrate" value="115200" />
			<param name="subscriber_topic" value="/fmCSP/target_velocity" /> 
		</node>
		<node pkg="fmCSP" name="IMUSerial" type="serial_string" output="screen" >	 
			<param name="device" value="/dev/ttyUSB0" />	
			<param name="baudrate" value="57600" />
			<param name="publisher_topic" value="ypr_serial"/>
		</node>
	</group>
</launch>

