<launch>

	<group ns="fmSensors">
		<node pkg="fmSensors" name="Encoder1" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder1" />
			<param name="update_frequency" value="50" />		 
		</node>
		<node pkg="fmSensors" name="Encoder2" type="phidget_encoder_node" output="screen" >
			<param name="publisher_topic" value="encoder2" /> 
			<param name="update_frequency" value="50" />
		</node>
		<node pkg="fmSensors" name="Odometry" type="corobot_wheel_feedback_node" output="screen" >
			<param name="left_odo_pub_topic" value="left_odometry" /> 
			<param name="right_odo_pub_topic" value="right_odometry" /> 
			<param name="encoder1" value="/fmSensors/encoder1" /> 
			<param name="encoder2" value="/fmSensors/encoder2" /> 
		</node>
		<node pkg="fmSensors" name="Lidar" type="neato_lidar_node" output="screen" >
			<param name="port" value="/dev/ttyUSB0" /> 
			<param name="baud_rate" value="115200" /> 
			<param name="frame_id" value="neato_lidar" /> 
			<param name="firmware_version" value="2" /> 
			<param name="lidar_publisher_topic" value="lidar_scan_data" /> 
			
		</node>
	</group>

	<group ns="fmExtractors">
	</group>

	<group ns="fmProcessors">
	</group>

	<group ns="fmHMI">

		<node pkg="fmHMI" name="joystick_speed" type="joystick_speed" output="screen" >	 
		</node>

		<node pkg="fmHMI" name="joy_node" type="joy_node" output="screen" >
		</node>
	</group>

 	<group ns="fmDecisionMakers">
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
	</group>

 	<group ns="fmActuators">
 	</group>

 	<group ns="fmKinematics">
	</group>

	<group ns="fmBSP">
	</group>
</launch>

